<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%= title %></title>
        <style type="text/css">
         <!--
         body { margin:0;padding:0; }
         h1 { margin:0;padding:0;background-color:#006400;color:white;padding:2rem; }
         .code { background-color:#e1fae1;padding:1rem; }
         -->
        </style>
    </head>
    <body>
